<!DOCTYPE HTML>
<html>
	<head>
		<title>Rotary Riviera Yamunanagar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="contact">
		<div id="page-wrapper">

			<!-- Header -->
				<%- include('../header') %>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-envelope"></span>
						<h2>दान करें</h2>
						<p style="font-size:1.5em">नेत्रदान मरके भी ज़िंदा रहने का अनमोल वरदान है ।</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 special container 75%">

							<!-- Content -->
								<div class="content" style="text-align:left">
									<form action="/pres/update" method="post">
										<div class="row 50%">
											<div class="12u">
												Name:
												<input type="text" name="name" placeholder="Name" value=<%=pres.name%>>
											</div>
											<div class="12u">
												Phone No:
												<input type="text" name="phoneno" placeholder="Phone Number" value=<%=pres.phoneno%>>
											</div>
											<div class="12u">
												Email:
												<input type="email" name="email" placeholder="Email" value=<%=pres.email%>>
											</div>
										</div>
										<div class="row 50%">
											<div class="6u">
												Start Of Session:
												<input type="date" name="start">
											</div>
											<div class="6u">
												End Of Session:
												<input type="date" name="end">
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Submit" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

			<!-- Footer -->
			<%- include('../footer') %>

		</div>
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.dropotron.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/jquery.scrollgress.min.js"></script>
			<script src="/javascripts/skel.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

	</body>
</html>