<!DOCTYPE HTML>
<html>
	<head>
		<title>Rotary Riviera Yamunanagar</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
	</head>
	<body class="contact">
		<div id="page-wrapper">

			<!-- Header -->
				<%- include('../header') %>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-envelope"></span>
						<h2>दान करें</h2>
						<p style="font-size:1.5em">नेत्रदान मरके भी ज़िंदा रहने का अनमोल वरदान है ।</p>
					</header>

					<!-- One -->
						<section class="wrapper style4 special container 75%">

							<!-- Content -->
								<div class="content" style="text-align:left">
									<form action="/donor/create" method="post">
										<div class="row 50%">
											<div class="12u">
												Name Of Donor:
												<input type="text" name="name" placeholder="Name" value=<%=donor.name%>>
											</div>
											<div class="12u">
												Father/Husband Name
												<input type="text" name="fa_hus_name" placeholder="Father/Husband Name" value=<%=donor.fa_hus_name%>>
											</div>
											<div class="6u 12u(mobile)">
												Date Of Death: <input type="date" name="deathdate"/>
											</div>
											<div class="6u 12u(mobile)">
												Donation Date: <input type="date" name="donationdate"/>
											</div>
										</div>
										<div class="row 50%">
											<div class="2u">
												Age: <input type="number" name="age" min=7 max=200 value="<%=donor.age%>"/>
											</div>
											<div class="5u">
												Time Of Death: <input type="text" name="time_of_death" value=<%=donor.time_of_death%>>
											</div>
											<div class="5u">
												Donation Time: <input type="text" name="time_of_donation" value=<%=donor.time_of_donation%>>
											</div>
										</div>
										<div class="row 50%">
											<div class="6u">
												<textarea name="cause_of_death" placeholder="Cause Of Death" rows="5"><%=donor.cause_of_death%></textarea>
											</div>
											<div class="6u">
												<textarea name="medical_history" placeholder="Medical History" rows="5"><%=donor.medical_history%></textarea>
											</div>
										</div>
										<div class="row">
											<div class="12u">
												<ul class="buttons">
													<li><input type="submit" class="special" value="Donate" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>

						</section>

				</article>

			<!-- Footer -->
			<%- include('../footer') %>

		</div>
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.dropotron.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/jquery.scrollgress.min.js"></script>
			<script src="/javascripts/skel.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

	</body>
</html>